<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="far fa-comment"></i> Chat
            </h1>
            <%- include ("./partials/messages"); %>
                <h5 style='text-align: center;'>Welcome to the <b><%= room %></b> chat room</h5>

        </div>
        <div class="card card-body">
            <div class="chat-messages">
            </div>
        </div>
        <div class="card card-body">
            <form id="inputChatForm" class="form-inline">
                User:
                <div class="form-group mx-sm-3 mb-2">
                    <label class="sr-only">Message</label>
                    <input id="inputChatMessage" type="text" class="form-control" placeholder="Type Message" required
                        autocomplete="off" oninput="typing()">
                </div>
                <button type="send" class="btn btn-primary mb-2">Send</button>
            </form>
        </div>
        <div id="userIsTyping" class="card card-body">
        </div>
        <div class="card card-body">
            <h6>Users currently connected:</h6>
            <div id="connectedUsers" class="connectedUsers">
            </div>
        </div>
    </div>
</div>
<script>
    const name = "<%= name %>";
    const room = "<%= room %>";
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>